body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.list-container {
  overflow-y: scroll;
  max-height: 40vh;
}

.active-spell {
  overflow-y: scroll;
  max-height: 80vh;
}

.action {
  cursor: pointer;
}
